.cardDefault{
    width: 100%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 16px;

    &_image{
        margin-bottom: 12px;
        border-radius: 6px;
        width: 100%;
        height: auto;
        flex: 1;
    }

    &_title{
        font-size: 12px;
        font-weight: 400;
        line-height: 12px;
        color: #4D4D4D;
        margin-bottom: 6px;
        margin-top: 0;

        max-width: 124px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap
    }
    &_author, &_year{
        font-size: 10px;
        font-weight: 400;
        line-height: normal;
        color: #4D4D4D;
        margin-bottom: 6px;
        margin-top: 0;
        gap: 6px;
    }
    &_ratings{
        font-size: 10px;
        font-weight: 400;
        line-height: normal;
        color: #4D4D4D;
        margin-bottom: 0;
        margin-top: 0;
    }

    &.cardNewArrival{
        box-shadow: 0px 0 4px 0 rgba(0, 0, 0, 0.155);
        padding: 16px 22px;
        

        .cardDefault_image{
            margin-bottom: 0;
        }
    }
}