.SearchContainer{
    width: 100%;
    display: flex;
    box-shadow : 0px 0 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 50px;

    .selectElement{
        appearance: none;
        border: 1px solid #DCD9D9; 
        border-right: none;
        border-radius: 50px 0 0 50px; 
        padding: 12px 24px;
        font-size: 16px;
        font-weight: 400;
        color: #4D4D4D;
        background: url("../../public/image/seta-select.svg") no-repeat center right 16px #F7F7FA;
        width: max-content;


        @media (min-width: 992px){
            font-size: 20px; 
            padding: 12px 32px;
        }

        &:focus{
            outline: none;
        }
    }

    .inputElement{
        border: 1px solid #DCD9D9;
        color: #4D4D4D;
        border-left: none;
        border-radius: 0 50px 50px 0;
        padding: 12px;
        font-size: 16px;
        font-weight: 400;
        flex: 1;
        background: url("../../public/image/icone-search.svg") no-repeat center right 18px #ffffff;
        background-size: 20px;

        @media (min-width: 992px){
            font-size: 20px; 
        }

        &::placeholder{
            color: #C7C7C7;
        }

        &:focus{
            outline: none;
        }

        &.clesedIcon{
            background: transparent;
        }
    }

}