
@import url("../assets/icomoon.css");
@import url('https://fonts.cdnfonts.com/css/digital-numbers');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.digital-numbers{
    font-family: 'Digital Numbers', sans-serif !important;
}

body{
    background-color: #F3F3F7;
    color: #4D4D4D;
    display: flex;
    flex-direction: column;
    overflow: auto;

    @media (min-width: 992px) {
        flex-direction: row;
    }

}

.main{
    flex: 1;
    overflow: hidden;
    

    @media (min-width: 992px) {
        margin-left: 340px;
        margin-top: 32px;
        max-width: calc(100vw - 340px);
    }
}

.detalhesTopo{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 32px;
    background-color: #FA7C54;
    z-index: 11;
    display: none;

    @media (min-width: 992px) {
        display: block;
    }
}


.swiper{

    .swiper-wrapper{
        display: flex;
    }
    .swiper-slide{
        height: auto;
        display: flex;
    }

}

.swiper.carouselBanner{
    margin: 0;
    .swiper-pagination{
        width: auto;
        left: 32px;
    }

    .swiper-pagination-bullet{
        width: 10px;
        height: 10px;
        background-color: #8A317C;
        border: 1px solid white;
        opacity: 1;

        &-active{
            background-color: white;
        }
    }
}

